@charset "utf-8";


h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd, form, figure, form, body{
    margin: 0px;
    padding:0px;
}


#container {
    border-top: 5px solid #dddddd;
    /* margin: 0 auto; */
    /* max-width: 1200px; */
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

p {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* HOME */

.home-content {
    text-align: center;
    margin-top: 20%;
}


/* 大きな背景画像 */
#home {
    background-image: url(../images/main1.jpg);
    min-height: 85vh;
}
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#home .page-title {
    text-transform: none;
}

/* 
タイトルアニメーション
ーーーーーーーーーーーーー */

h1 {
    display: inline-block;
    width: 23ch;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    border-right: 2px solid;
    animation: typing 4s steps(23), caret 0.3s steps(1) infinite;
    cursor: 1s steps(20) infinite;

}
@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes cursor {
    50% {
        border-right-color: currentColor;
    }
}


#nav-list.close {
    display: block;
    opacity: 0;
    animation: hideAni .5s ease 0s 1 normal;
}


h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
}

.container{
    width: 100%;
    /* margin: 100px auto; */
}


.about {
    margin: 100px auto;
}
.skill {
    margin: 100px auto;
}
.service {
    margin: 120px auto;
}
.works {
    margin: 100px auto;
}
.container form {
    margin: 100px auto;
}



div {
    text-align: center;
}



.s-container {
    display: flex;
    justify-content: space-around;
}


.s-image {
    margin: 10px;
    padding: 10px;
}


/* 
ABOUT
---------------------- */

.pr-img {
    width: 100%;
    height: auto;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fas, .fab, .far {
    margin-right: 0.5rem;
    color: #ECD4AB;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa-user:before {
    content: "\f007";
}

.fa-link:before {
    content: "\f0c1";
}

dl {
    margin-top: 70px;
}

dd {
    margin: 0.5rem 0 1.5rem 0;
}

dd span {
    margin-bottom: 0.25rem;
    display: block;
}

a, a:visited, a:hover {
    color: #888;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}


.html::after {
    content: "HTML";
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: larger;
}
.css::after {
    content: "CSS";
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: larger;
}
.bootstrap::after {
    content: "Bootstrap";
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: larger;
}
.coding::after {
    content: "コーディング";
    display: block;
    margin-top: 10px;
    font-size: larger;
}
.responsive::after {
    content: "レスポンシブ";
    display: block;
    margin-top: 10px;
    font-size: larger;
}
.maintenance::after {
    content: "メンテナンス";
    display: block;
    margin-top: 10px;
    font-size: larger;
}



/* CONTACT */
/* ----------------------- */

input{
    margin:10px 0;
    height:30px;
    width:160px;
}
.form{
    padding:10px;
}
.btn-info{
    border:none;
    color:#fff;
    padding:10px 30px;
    border-radius:10px;
}

.contact::after {
    content: "お気軽にお問い合わせ下さい｡";
    display: block;
    font-size: small;
    margin-top: 10px;
}

input {
    width: 40%;
}

textarea {
    width: 40%;
}


/* WORKS
ーーーーーーーーーーーーーーーーー */

.link-card-img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px lightgray;
    transition: .4s;
}

.works-title::after {
    content: "制作実績";
    display: block;
    font-size: small;
    margin-top: 10px;
}



/* FOOTER 
------------------------- */

.footer {
    text-align: center;
    background-color: #dddddd;
}


/* モバイル版
---------------------- */

@media (max-width: 800px) {
    .s-container {
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */
    }
    .home-content {
        margin-top: 50%;
    }
    /* .pr-img {
        width: 70%;
        height: auto;
    } */
    h1 {
    display: inline-block;
    /* width: 100%; */
    width: 23ch;
    overflow: hidden;
    white-space: nowrap;
    font-size: 25px;
    border-right: 2px solid;
    animation: typing 4s steps(23), caret 0.3s steps(1) infinite;
    cursor: 1s steps(20) infinite;

}
@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes cursor {
    50% {
        border-right-color: currentColor;
    }
}
    input {
        width: 80%;
    }
    textarea {
        width: 80%;
    }
}

.wrap {
    overflow: hidden;
}


